### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/launch.json
a.exe
binary_data_small.txt
binary_data_medium.txt
binary_data_large.txt
random_data_small.txt
random_data_medium.txt
random_data_large.txt
